@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Tillana";
  src: url("/font/Tillana-Medium.ttf") format("truetype");
}

.border-chat-user {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.border-chat-bot {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.typeWriting::after {
  content: "";
  margin-left: 2px;
  width: 2px;
  height: 90%;
  border: 1px solid black;  
  animation: dim .3s ease infinite alternate forwards;
}

@keyframes dim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
